In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv('Data_sequences_signal.txt', delimiter = "\t", low_memory=False)
df = pd.read_csv('Data_sequences_signal_withClass.txt', delimiter = "\t", low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264272 entries, 0 to 1264271
Data columns (total 14 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   seqnames           1264272 non-null  object
 1   start              1264272 non-null  int64
 2   end                1264272 non-null  int64
 3   name               1264272 non-null  object
 4   strand             1264272 non-null  object
 5   S2_cardiac_log2    1264272 non-null  float64
 6   S2_fat_body_log2   1264272 non-null  float64
 7   S2_hemocytes_log2  1264272 non-null  float64
 8   S2_mesoderm_log2   1264272 non-null  float64
 9   S2_neuro_log2      1264272 non-null  float64
 10  S2_somatic_log2    1264272 non-null  float64
 11  S2_visceral_log2   1264272 non-null  float64
 12  Sequence           1264272 non-null  object
 13  Class              1264272 non-null  object
dtypes: float64(7), int64(2), object(5)
memory usage: 135.0+ MB

In [4]:
df.head()

,seqnames,start,end,name,strand,S2_cardiac_log2,S2_fat_body_log2,S2_hemocytes_log2,S2_mesoderm_log2,S2_neuro_log2,S2_somatic_log2,S2_visceral_log2,Sequence,Class
0,chr2L,5051,6051,chr2L_5051_6051,+,5.721734,5.896059,5.633513,5.954741,5.907287,5.512483,5.943708,ACAGAGGAAGCAGAACAGATATTTAGATTGCCTCTCATTTTCTCTC...,positive
1,chr2L,5101,6101,chr2L_5101_6101,+,6.221332,6.316148,5.882738,6.278539,6.160721,5.903422,6.287967,ATTATAGGGTGAAATATGATCGCGTATGCGAGAGTAGTGCCAACAT...,positive
2,chr2L,5151,6151,chr2L_5151_6151,+,6.490758,6.519899,6.051901,6.446976,6.277693,6.116589,6.472559,TGATCTTCGATTTTTTGGCAACCCAAAATGGAGGCGGACGAACGAG...,positive
3,chr2L,5201,6201,chr2L_5201_6201,+,6.730803,6.700606,6.339631,6.634181,6.503401,6.362970,6.707124,TAATGATAAGATGATTCAAAAAGACAATGCACGACAGAGAGAGCAG...,positive
4,chr2L,5251,6251,chr2L_5251_6251,+,6.804389,6.778301,6.533721,6.731550,6.633438,6.480213,6.819311,GATAATTAAATTGCCCCTCATTTTCTCTGGCAAATTGTAGGGTGAA...,positive

In [5]:
len(df[df['Class'] == 'positive'])

624564

In [6]:
len(df[df['Class'] == 'negative'])

639708

In [7]:
assert (len(df[df['Class'] == 'positive']) + len(df[df['Class'] == 'negative'])) == len(df)

In [8]:
chr2L_5051_6051 = df[df['name'] == 'chr2L_5051_6051']

In [9]:
chr2L_5051_6051

,seqnames,start,end,name,strand,S2_cardiac_log2,S2_fat_body_log2,S2_hemocytes_log2,S2_mesoderm_log2,S2_neuro_log2,S2_somatic_log2,S2_visceral_log2,Sequence,Class
0,chr2L,5051,6051,chr2L_5051_6051,+,5.721734,5.896059,5.633513,5.954741,5.907287,5.512483,5.943708,ACAGAGGAAGCAGAACAGATATTTAGATTGCCTCTCATTTTCTCTC...,positive
632136,chr2L,5051,6051,chr2L_5051_6051,-,5.721734,5.896059,5.633513,5.954741,5.907287,5.512483,5.943708,GTAGTATTTATATGGATGAGAAAATGATCGGCATTTTAAATATATA...,positive

In [10]:
chr2L_5051_6051_forward = chr2L_5051_6051['Sequence'].iloc[0]
chr2L_5051_6051_reverse = chr2L_5051_6051['Sequence'].iloc[1]

In [11]:
chr2L_5051_6051_forward

'ACAGAGGAAGCAGAACAGATATTTAGATTGCCTCTCATTTTCTCTCCCATATTATAGGGTGAAATATGATCGCGTATGCGAGAGTAGTGCCAACATATTGTGATCTTCGATTTTTTGGCAACCCAAAATGGAGGCGGACGAACGAGATGATAATGATAAGATGATTCAAAAAGACAATGCACGACAGAGAGAGCAGAAAAGATAATTAAATTGCCCCTCATTTTCTCTGGCAAATTGTAGGGTGAATTATGATCGCGTATGCGAGAGTGGTGCCAACATATTGTGCTCTTCGATTTTTTGGCAACCCAAAATGGAGGCGGATGAACGAGATGATAATATTTTCAAGTTGCCGCTAATCAAAAATAAATTCCTTGCAACATAAAATAAAGCACAAAATGCCCGCTCAAAAAAAGGCATGAATATATAAGCTCGAACATAGAACATAGGCTTGAACATATAATGACTGCCTTTCATTCTCTATCTTATATTACCGCAAACACAAAATGACAATGCACGACATAGAGAGAAAGAGAGATATTCAGATTGCCTCTCATTGTCTCACCCATATTATGGGAACCAAATATGAGCACGTATGCGAGAGGAGTGCCAACATATTGTGCTCTACGATTTTTTTGCAACCCAAAATGGCGGCGTACGAACGAGATGATAATATATTCAAATTGCCGCTAATCAGAAGCAAGTTTATTGCAATGTTCAGTGCAGCGCAAAATGGCCGCTCAAGAAAAGGCTCGAATATATATTGCCTGCCTCTCATTCACTCTCTTTTATTACCGCAAGACCAAAATGACAATGTACAACAGAGAGAGCAAGAGAGATATTTAGATTGCCTCTCCTTGTCTCTCCCATATTATAGAGACCGAAAATGATTGCGTATGCGAGAAGAGTGCCATTGTATTGAGCTCCTCGACCCAAAATAGCGTCGGACGAACGAGATTATATATTTAAAATGCCGATCATTTTCTCATCCATATAAATACTAC'

In [12]:
chr2L_5051_6051_reverse

'GTAGTATTTATATGGATGAGAAAATGATCGGCATTTTAAATATATAATCTCGTTCGTCCGACGCTATTTTGGGTCGAGGAGCTCAATACAATGGCACTCTTCTCGCATACGCAATCATTTTCGGTCTCTATAATATGGGAGAGACAAGGAGAGGCAATCTAAATATCTCTCTTGCTCTCTCTGTTGTACATTGTCATTTTGGTCTTGCGGTAATAAAAGAGAGTGAATGAGAGGCAGGCAATATATATTCGAGCCTTTTCTTGAGCGGCCATTTTGCGCTGCACTGAACATTGCAATAAACTTGCTTCTGATTAGCGGCAATTTGAATATATTATCATCTCGTTCGTACGCCGCCATTTTGGGTTGCAAAAAAATCGTAGAGCACAATATGTTGGCACTCCTCTCGCATACGTGCTCATATTTGGTTCCCATAATATGGGTGAGACAATGAGAGGCAATCTGAATATCTCTCTTTCTCTCTATGTCGTGCATTGTCATTTTGTGTTTGCGGTAATATAAGATAGAGAATGAAAGGCAGTCATTATATGTTCAAGCCTATGTTCTATGTTCGAGCTTATATATTCATGCCTTTTTTTGAGCGGGCATTTTGTGCTTTATTTTATGTTGCAAGGAATTTATTTTTGATTAGCGGCAACTTGAAAATATTATCATCTCGTTCATCCGCCTCCATTTTGGGTTGCCAAAAAATCGAAGAGCACAATATGTTGGCACCACTCTCGCATACGCGATCATAATTCACCCTACAATTTGCCAGAGAAAATGAGGGGCAATTTAATTATCTTTTCTGCTCTCTCTGTCGTGCATTGTCTTTTTGAATCATCTTATCATTATCATCTCGTTCGTCCGCCTCCATTTTGGGTTGCCAAAAAATCGAAGATCACAATATGTTGGCACTACTCTCGCATACGCGATCATATTTCACCCTATAATATGGGAGAGAAAATGAGAGGCAATCTAAATATCTGTTCTGCTTCCTCTGT'

In [13]:
df['seqnames'].unique()

array(['chr2L', 'chr2R', 'chr3L', 'chr3R', 'chr4', 'chrX', 'chrY'],
      dtype=object)

In [14]:
df['seqnames'].value_counts()

seqnames
chr3R    297888
chr3L    266512
chr2R    238366
chr2L    222278
chrX     216208
chr4      14116
chrY       8904
Name: count, dtype: int64